@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@50;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@50;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/emilio-test');

.sub-head{
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 100;
}

.head{
  font-size: 48px;
  font-family: 'Emilio Test';
  font-weight: 600;
}

.head-sub-head{
  font-size: 25px;
  font-family: 'Emilio Test';
  font-weight: 600;
}

.body{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: lighter;
}

.grad{
  background: linear-gradient(to right, #0948C0, #27C8C0);
  -webkit-background-clip: text;
  color: transparent; 
}

.bg-blue{
  background-color: #ECF5FE;
}

.vertical-divider{
  border-top: 1px solid #0c0b0b;
      height: 100px;
}

.form-control{
  background-color: #ECF2F7;
}

.search-input{
  border: 0px ;
  background-color: white;
}

.tablet{
  font-size: 15px;
}

.contact input,.contact textarea{
  border: 0px;
  border-bottom: 1px solid #00000050;
  text-decoration: none;
  border-radius: 0px;
  background-color: #ffffff;
}

.grid-container-timeline{
  display: grid;
  grid-template-columns: auto 20px auto;
  column-gap: 20px;
  row-gap: 10px;
}

.center{
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 9px;
  margin-right: px;
}