body {
    font-family: 'Montserrat, sans-serif';
    }
    .head{
        font-family:'Times New Roman', Times, serif;
    }
  
<<<<<<< HEAD
}
.sub-head{
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 100;
}
.head{
  font-size: 48px;
  font-family: 'Emilio Test';
  font-weight: 600;
}
.body{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: lighter;
}
.grad{
  background: linear-gradient(to right, #0948C0, #27C8C0);
  -webkit-background-clip: text;
  color: transparent; 
}
.bg-blue{
  background-color: #ECF5FE;
}
.vertical-divider{
  border-top: 1px solid #0c0b0b;
  height: 100px;
}
.form-control{
  background-color: #ECF2F7;
}
.search-input{
  border: 0px ;
  background-color: white;
}
.tablet{
  font-size: 15px;
}
.contact input,.contact textarea{
  border: 0px;
  border-bottom: 1px solid #00000050;
  text-decoration: none;
  border-radius: 0px;
  background-color: #ffffff;
}
=======
  
  .container {
    /* Container styles */
    margin-top: 25px; /* Adjust the margin-top to move the container down */
  }
  .form-container {
    background-color: white;
    border: 1px solid white; /* Set border color to match the background color */
    border-radius: 0.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the form container takes the full height */
  }
  
  .heading {
    font-family: 'Emilio, sans-serif';
    font-size: 48px;
  }
  
  .form-label {
    font-family: 'Montserrat, sans-serif';
    font-size: 16px;
  }
  
  .form-control {
    background-color: white;
    margin-bottom: 1rem; /* Add margin-bottom to create a gap between text boxes */
  }
  
  .signup-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .signup-button {
    /* Button styles */
    font-size: 1.5rem; /* Set the font size of the button */
    padding: 60px 60px; /* Adjust padding to increase button size */
  }
  .left-side-container {
    background-color: #E2F0FF; /* Set the background color for the left side */
  }
>>>>>>> origin/main
