@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    margin: 0;
}


body{
  height: 100vh;
  position: relative;
  overflow-y: auto; 
}
  
.register{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: white;
  background: linear-gradient(to right, #E2F0FF 50%, #FFFF 50%);
  
  
  
}
.ui.message.text-danger {
    margin: 0;  
    padding: 0; 
  }
  

.register span{
  color: #595b5f;
}
#form{
  max-width: 370px;
  width: 100vw;
  margin: 1.5em auto;
  font-family: "Montserrat";
  font-size: 18;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}
#form >h2{
  font-family: "Emilio Test";
  font-size: 48;
}


#form > span{
  font-family: "Montserrat";
  font-size: 18px;
}
#form > p{
  color: #2ba4e4;
}

.flex{
  display: flex;
  gap: 0.5em;
}
.flex1{
  display: flex;
  gap: 0.1em;
}


.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  background-color: white;
  width: 50%;
  
}

.register .col-2 img{
  width: 50%;
  height: 100vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
.col-2{
  background-color: #E2F0FF;
  position: relative;
  width: 50%;
} 
#form p,label{
  color: black;
  font-family: "Montserrat";
  font-size: 18px;
}

.btns{
  width: 140px;
}
.error{
  color: red;
}
.success{
  color: green;
}
.carousel-caption{
  color: black;
}
.carousel-caption h5{
  font-family: "Emilio Test";
  font-size: 48;
  font-weight: 600;
  color: black;
}
.carousel-caption p{
  font-family: "Montserrat";
  font-size: 18;
  color: rgb(75, 73, 73);
}
#form input{
  font-family: "Montserrat";
  font-size: 18;
}

.modal-header .close {
  border: none;
  height: 40px;
  width: 30px;
  background-color: rgba(232, 226, 226, 0.823);
  color: black;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
}
.modal-title{
  font-family: "Montserrat";
  font-size: 18;
  font-weight: bold;
}
.team-container{
  height: 100vh;
  background: linear-gradient(to bottom, #7F849A 50%, #FFFF 50%);
  position: relative;
  padding-top: 30px;
}
.image-container{
  height:240px;
}
.img {
  height: 200px;
  width: 200px;
  border: 7px solid white;
  border-radius: 100px;
  box-shadow: 0 0 0 0.5px black;
  padding: 2px;
  margin: 2px;
}


.image-container{
  background: transparent;
  width:240px;
  position: absolute;
  top: 28%;
}
.card-container {
  flex: 0 0 calc(20% - 20px); 
  margin: 0 10px; 
  box-sizing: border-box;
}
.card-container h4{
  font-family: "Montserrat";
  font-weight: bold;
}
.card-container p{
  font-family: "Montserrat";
  
}
